@import url('./App.css');
@import url('./cards.scss');

.card-wrap{
  position: relative;
  width: 400px;
  height: 250px;
}
.card2{

  width: 308px;
  height: 190px;
}

.card2.back{
    
    background: linear-gradient(180deg, rgba(0, 149, 255, 0.5), rgba(5, 26, 255, 0.6));
    box-shadow: 0 30px 20px rgba(12, 12, 12, 0.6);
    transform: translate(15px, 15px); 
    
}

.card2.front {
    position: absolute;
    top: 20%;
    left: 20%;
    background: rgba(225, 236, 237, 0.9);
    box-shadow: 0 50px 50px rgba(12, 12, 12, 0.6);
    z-index: 2;
    padding: 20px;
}

.contact{
    margin-bottom: 250px;
}

.cardBox{
    display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 50px;
    
}

/* 텍스트 스타일 */

.small {
    font-size: 13px;
    color: rgba(62, 97, 175, 1);
}

.card2 h3 {
    font-size: 25px;
    margin: 5px 0;
    color: rgba(62, 97, 175, 1);
}

.email {
    position: absolute;
    font-size: 14px;
    color: rgba(62, 97, 175, 1);
    margin-top: 10px;
}

.links {
  margin-top: 10px;
  display: flex;
  gap: 12px;
  justify-content: right;
  
  a {
    color: rgba(62, 97, 175, 1);
    font-size: 15px;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}

.cardText3{
    width: 308px; height: 190px;
    padding: 20px; margin: 20px;

//   width: 308px;
//   height: 190px;
//   box-shadow: 0 50px 50px rgba(12, 12, 12, 0.6);
}

.contact-msg {
  font-size: 15px;
  color: #333;
  margin-top: 30px;

  
}



@media (min-width:901px) and (max-width:1330px){
    .cardBox {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 50px;}
}
